<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TaskTrayApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TaskTrayApplication.Properties.Settings>
            <setting name="enableStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="commport" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="fade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableAway" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="phrases" serializeAs="String">
                <value>Sorry, I'm not available to chat at the moment.</value>
            </setting>
            <setting name="enableRandomBabble" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="unLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disableLyncLED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prefixMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reponsePrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="autoFirmware" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="currentFirmware" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="disableAutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
        </TaskTrayApplication.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
